
<div class="<%= page_container %>">
  <div class="relative aspect-h-2 aspect-w-5">
  <img src="https://images.unsplash.com/photo-1649034472454-2be741965ceb?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2000&h=800&q=80" alt="" class="object-fit">
  <div class="absolute inset-0 bg-zinc-400 mix-blend-multiply"></div>
</div>
  <div class="prose">
      <h1>About Brewley Brewing Co.</h1>
  <p>In 2018, two musicians from Manchester, CT decided to take their passion for music into the realm of craft brewing. The pair had grown up in the small town and wanted to create a place where they could bring together people of all backgrounds through the shared love of music and beer.</p>
  <p>They had long dreamed of one day opening a brewery, but their vision wasn’t just any run-of-the-mill brewpub—they wanted something special that would capture the unique spirit of their hometown. So they set out to create an establishment that could offer craft beers made with locally sourced ingredients as well as live music from some of Connecticut’s best talent.</p>
  <p>It took a lot of hard work and determination, but eventually, their dream became a reality. In late 2018, the brewery was officially open for business! People quickly flocked to it to try some of their amazing craft beers and hear some great live music—and it wasn’t long before other restaurants and businesses in Manchester started to take notice.</p>
  <p>Today, Brewley Brewing Co. is still going strong in its original location on Main Street in downtown Manchester. It has become one of the most popular craft breweries in Connecticut and has even garnered national attention for its innovative beers and eclectic atmosphere. It is a beloved landmark in its community and continues to be the perfect place for people from all walks of life to come together over a cold pint and some great tunes!</p>

  </div>
</div>
