<div id="<%= dom_id container %>" class="flex items-center justify-between p-4 bg-white rounded-lg">
  <p class="font-semibold">
    <%= container.name %>
  </p>

  <% if action_name != "show" %>
    <div class="flex items-center space-x-2">
      <%= link_to 'Edit this container', edit_container_path(container), class: button_class(theme: 'update', variant: 'small') %>
      <%= button_to 'Destroy this container', container_path(container), method: :delete, class: button_class(theme: 'destroy', variant: 'small') %>
    </div>
  <% end %>
</div>
