<div class="<%= page_container %>l">
  <h1 class="text-4xl font-bold">Editing container</h1>

  <%= render "form", container: @container %>
  <%= link_to "Back to containers", containers_path, class: button_class(theme: 'back', variant: 'small') %>
</div>
