<div class="<%%= page_wrapper_class() %>">
  <div class="<%%= form_wrapper_class() %>">
    <h1 class="text-3xl font-semibold">New <%= singular_table_name %></h1>
    <%%= render 'form', <%= singular_table_name %>: @<%= singular_table_name %> %>
  </div>
</div>
