<div class="<%= page_wrapper %>">
  <h1 class="text-4xl font-bold">New category</h1>

  <%= render "form", category: @category %>

  <%= link_to 'Back to categories', categories_path, class: button_class(theme: 'back', variant: 'small') %>
</div>
